### Java ###
target/

### Maven ###
.mvn
mvnw
mvnw.cmd
.flattened-pom.xml

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### VS Code ###
.vscode/

### IntelliJ ###
.idea/
springboot3-and-java17.iml