<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!-- In order to troubleshoot issues with Testcontainers, increase the logging level of org.testcontainers to DEBUG. -->
    <logger name="org.testcontainers" level="OFF"/>
    <!-- The following logger can be used for containers logs since 1.18.0 -->
    <logger name="tc" level="OFF"/>
    <logger name="com.github.dockerjava" level="OFF"/>
    <logger name="com.github.dockerjava.zerodep.shaded.org.apache.hc.client5.http.wire" level="OFF"/>
</configuration>